

<flash-messages></flash-messages>

<form class="form-inscription" (submit)="addUser()">

  <mat-radio-group [(ngModel)]="sexe" name="sexe">
    <mat-radio-button value="homme">Homme</mat-radio-button>
    <mat-radio-button value="femme">Femme</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <input matInput placeholder="Nom" [(ngModel)]="nom" name="nom" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Prénom" [(ngModel)]="prenom" name="prenom" required>
  </mat-form-field>

  <mat-form-field >
    <input matInput  [matDatepicker]="picker" [(ngModel)]="dateNaissance" name="dateNaissance" placeholder="Date de naissance" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<mat-form-field>
  <input matInput type="text" placeholder="Enter votre email"  [(ngModel)]="email" name="email"  [formControl]="emailcontrol" required>
  <mat-error *ngIf="emailcontrol.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="mdp" name="mdp" required>
  </mat-form-field>


  <mat-form-field>
    <input matInput type="password" placeholder="Confirmer le mot de passe" required>
  </mat-form-field>



  <button mat-raised-button color="primary" type="submit">S'inscrire</button>

</form>