<img class="img" [src]="srcBackground" />

<form class="form-proposer-trajet" (submit)="addTrajetMembre()" >
  <mat-form-field>
    <input matInput placeholder="Depart" [(ngModel)]="depart" name="depart" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Destination" [(ngModel)]="destination" name="destination" required>
  </mat-form-field>


  <mat-form-field >
    <input matInput  [matDatepicker]="picker" [(ngModel)]="date" name="date" placeholder="Date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Adresse de départ" [(ngModel)]="adresseDepart" name="adresseDepart" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Adresse d'arrivée" [(ngModel)]="adresseArrivee" name="adresseArrivee" required>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Type de voiture" [(ngModel)]="typeVoiture" name="typeVoiture" required>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Nombre de place" [(ngModel)]="nbPlace" name="nbPlace" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Prix" [(ngModel)]="prix" name="prix" required>
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit">Ajouter</button>
</form>
<button mat-raised-button color="accent" class="btnTab" (click)="voirTab()" >{{textbtn}}</button>

<table style="width:100%" *ngIf="hide">
  <tr>
    <th>Depart</th>
    <th>Destination</th>
    <th>Distance</th>
    <th>Temps moyen</th>
    <th>Prix de référence</th>

  </tr>

  <tr *ngFor="let trajet of trajets,let i of index">
    <th>{{trajet.depart}} </th>
    <th>{{trajet.destination}}</th>
    <th>{{trajet.distance}}</th>
    <th>{{trajet.tempsMoyen}}</th>
    <th>{{trajet.prixReference}}</th>

  </tr>
</table>