.form-proposer-trajet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.img{
    width: 100%;
    height: 500px;
}

.btnTab{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}