.form-recherche {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.divRech{
    margin-left: auto;
    margin-right: auto;

 }

.card {
    width: 400px;
    height: auto;
}
.orange-icon{
    color: orange;
}

.vert-icon{
color: green;
}

.div{
    display: block;
    margin-left: 100%;
    margin-right: auto;
    width: 800px;

}

.img{
    width: 100%;
    height: 500px;
}
.msg{
    text-align: center;
}