


<img class="img" [src]="srcBackground" />
<div class="divRech" [appBackgroundHome]=srcBackground>
<form class="form-recherche" (submit)="getTrajetMembre()">
    <mat-form-field>
        <input matInput placeholder="Depart" [(ngModel)]="depart" name="depart" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Destination" [(ngModel)]="destination" name="destination" required>
    </mat-form-field>

    <mat-form-field >
        <input matInput  [matDatepicker]="picker" [(ngModel)]="date" name="date" placeholder="Date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Rechercher</button>
</form>
    <div class="msg">
        <h3>
            Je cherche un trajet de {{depart}}
            en direction de {{destination}}
            à la date du {{date | date : "dd.MM.y"}}
        </h3>
    </div>
</div>

<div class="divCard">
<mat-card class="card" *ngFor="let trajet of trajetsMembre">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{trajet.nomMembre}}</mat-card-title>
        <mat-card-subtitle>{{trajet.prenomMembre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="srcCardImage" alt="">
    <mat-card-content>
        <div>
            <mat-icon class="orange-icon"  >home</mat-icon>Départ : {{trajet.depart}}

            <mat-icon >trending_flat</mat-icon>
            <mat-icon class="vert-icon" >work</mat-icon>Destination : {{trajet.destination}}

        </div>

        <div>
            <mat-icon class="orange-icon">place</mat-icon>Adresse de départ : {{trajet.adresseDepart}}
        </div>

        <div>
        <mat-icon class="vert-icon" >place</mat-icon>Adresse d'arrivée : {{trajet.adresseArrivee}}
        </div>
            <div>
        <mat-icon >directions_car</mat-icon>Véhicule: {{trajet.typeVoiture}}
            </div>
                <div>
        <mat-icon >person</mat-icon>Nombre de place : {{trajet.nbPlace}}
                </div>

        <div>
            <mat-icon >person</mat-icon>Nombre de place Disponible : {{trajet.nbPlaceDisponible}}
        </div>
                    <div>
        <mat-icon >euro_symbol</mat-icon>Prix : {{trajet.prix}}
                    </div>


    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="addParticipant(trajet._id)" *ngIf="authService.loggedIn()">PARTICIPER</button>

    </mat-card-actions>
</mat-card>
</div>