<flash-messages></flash-messages>
<form class="form-connexion" (submit)="login()">


    <mat-form-field>
      <input matInput placeholder="Enter votre email" [(ngModel)]="email" name="email" [formControl]="emailcontrol" required>
      <mat-error *ngIf="emailcontrol.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter votre mot de passe" [(ngModel)]="mdp" name="mdp" [type]="hide ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>


  <button mat-button >Mot de passe oublié ?</button>
  <br>
  <button mat-raised-button color="primary" type="submit" >Se connecter</button>

</form>
