

<mat-list *ngFor="let user of users,let i of index" >
    <mat-list-item> {{user.nom}}  {{user.prenom}} {{user.email}} </mat-list-item>
    <button mat-raised-button (click)="supprimerTemporairement(user._id)"> Supprimer temporairement</button>
    <button mat-raised-button (click)="supprimerDefinitivement(user._id,i)"> Supprimer définitivement</button>
</mat-list>