.button1{
    width: 300px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    margin-right: 2%;
    text-align: center;

    background-color:cornsilk;



}


.button2{
    width: 300px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    margin-right: 2%;
    text-align: center;

    background-color: darksalmon;



}