<form class="form-ajout-trajet" (submit)="addTrajet()" >
  <mat-form-field>
    <input matInput placeholder="Depart" [(ngModel)]="depart" name="depart" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Destination" [(ngModel)]="destination" name="destination" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Distance" [(ngModel)]="distance" name="distance" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Temps moyen" [(ngModel)]="tempsMoyen" name="tempsMoyen" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Prix référence" [(ngModel)]="prixReference" name="prixReference" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Ajouter</button>
</form>




<table style="width:100%">
  <tr>
    <th>Depart</th>
    <th>Destination</th>
    <th>Distance</th>
    <th>Temps moyen</th>
    <th>Prix de référence</th>
    <th>Supprimer</th>
  </tr>

  <tr *ngFor="let trajet of trajets,let i of index">
    <th>{{trajet.depart}} </th>
    <th>{{trajet.destination}}</th>
    <th>{{trajet.distance}}</th>
    <th>{{trajet.tempsMoyen}}</th>
    <th>{{trajet.prixReference}}</th>
    <th><button mat-raised-button color="accent" (click)="supprimerTrajet(trajet.depart,trajet.destination,trajet.distance,trajet.tempsMoyen,i)"> Supprimer</button></th>
  </tr>
</table>