<div *ngIf="user">
  <mat-list>
    <mat-list-item> Nom : {{user.nom}} </mat-list-item>
    <mat-list-item> Prénom : {{user.prenom}} </mat-list-item>
    <mat-list-item> Email : {{user.email}} </mat-list-item>
    <mat-list-item> Sexe : {{user.sexe}} </mat-list-item>
    <mat-list-item> Date de naissance : {{user.dateNaissance | date : "dd.MM.y"}} </mat-list-item>
    <mat-list-item> Profil : {{user.profil}}</mat-list-item>
  </mat-list>
</div>