
<mat-toolbar color="primary">
  <button mat-button *ngIf="authService.loggedIn()" (click)="sidenav.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="home">
    <span> <img src="favicon.ico" width="20" height="20" class="d-inline-block align-top" alt="">ShareCar</span>
  </button>

  <span class="fill-space"></span>
  <button mat-button *ngIf="authService.loggedIn()" routerLink="profile" >Profil</button>
  <button mat-button *ngIf="!authService.loggedIn()"  routerLink="connexion" >Connexion</button>
  <button mat-button *ngIf="!authService.loggedIn()"  routerLink="inscription">Inscription</button>
  <button mat-button *ngIf="authService.loggedIn()" (click)="onLogoutClick()">Déconnexion</button>
</mat-toolbar>

<mat-sidenav-container class="container" autosize>

  <mat-sidenav #sidenav>



    <mat-nav-list >

      <mat-list-item *ngIf="authService.isAdmin" (click)="sidenav.toggle()" routerLink="ajoutTrajet">
        <mat-icon matListIcon>add</mat-icon>
        <h4>Ajouter un trajet</h4>
      </mat-list-item>




      <mat-list-item *ngIf="authService.isAdmin" (click)="sidenav.toggle()" routerLink="supprimerCompte">
        <mat-icon matListIcon>person</mat-icon>
        <h4>Supprimer un compte</h4>
      </mat-list-item>




      <mat-list-item *ngIf="authService.isAdmin" (click)="sidenav.toggle()" routerLink="statistiques">
        <mat-icon matListIcon>trending_up</mat-icon>
        <h4>Statistiques</h4>
      </mat-list-item>


      <mat-list-item *ngIf="authService.isMembre" (click)="sidenav.toggle()" routerLink="proposerTrajet">
        <mat-icon >add</mat-icon>
        <h4>Proposer un trajet</h4>
      </mat-list-item>

      <mat-list-item *ngIf="authService.isMembre" (click)="sidenav.toggle()" routerLink="mestrajetsmembre">
        <mat-icon >directions_car</mat-icon>
        <h4>Mes Trajets</h4>
      </mat-list-item>

      <mat-divider></mat-divider>


      <mat-list-item (click)="onLogoutClick() ">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <h4>Déconnexion</h4>
      </mat-list-item>
    </mat-nav-list>


  </mat-sidenav>

  <div class="sidenav-content">


    <div class="container">

      <router-outlet></router-outlet>
    </div>
  </div>


</mat-sidenav-container>
