<mat-card class="card" *ngFor="let trajet of trajetsMembre,let i = index">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{trajet.nomMembre}} {{trajet.prenomMembre}}</mat-card-title>
    <mat-card-subtitle>{{trajet.emailMembre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="srcCardImage" alt="">
  <mat-card-content>
    <div>
      <mat-icon class="orange-icon"  >home</mat-icon>Départ : {{trajet.depart}}

      <mat-icon >trending_flat</mat-icon>
      <mat-icon class="vert-icon" >work</mat-icon>Destination : {{trajet.destination}}

    </div>

    <div>
      <mat-icon class="orange-icon">place</mat-icon>Adresse de départ : {{trajet.adresseDepart}}
    </div>

    <div>
      <mat-icon class="vert-icon" >place</mat-icon>Adresse d'arrivée : {{trajet.adresseArrivee}}
    </div>
    <div>
      <mat-icon >directions_car</mat-icon>Véhicule: {{trajet.typeVoiture}}
    </div>
    <div>
      <mat-icon >person</mat-icon>Nombre de place : {{trajet.nbPlace}}
    </div>
    <div>
      <mat-icon >person</mat-icon>Nombre de place Disponible : {{trajet.nbPlaceDisponible}}
    </div>
    <div>
      <mat-icon >euro_symbol</mat-icon>Prix : {{trajet.prix}}
    </div>
    <h5 class="mat-headline">Participants :</h5>
    <div *ngFor="let participant of trajet.participants">
      <mat-icon >person</mat-icon> {{participant.nom}} {{participant.prenom}} {{participant.email}}
    </div>  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="supprimerParticipation(trajet._id,i)">ANNULER</button>
  </mat-card-actions>
</mat-card>
